@font-face {
  font-family: PhrazyFont;
  src: url("BioRhyme.ttf");
}

h1 {
  color: transparent;
  position: absolute;
  left: -9999px;
}

body {
  background: #5828d2;
}

#loading {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#loading p:first-child {
  color: black;
  font-size: 6rem;
  font-variation-settings: "wght" 1000;
  letter-spacing: -0.25rem;
  font-family: sans-serif;
  margin-bottom: -2rem;
  font-family: 'PhrazyFont', sans-serif
}

#loading p:last-child {
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  color: white;
  font-size: 1.5rem;
  font-variation-settings: "wght" 1000;
  font-family: sans-serif;
  margin-top: 0;
  font-family: 'PhrazyFont', sans-serif
}
